workflows/n8n_2_pr_manager.json
{
  "name": "2. TTA.dev PR Manager",
  "nodes": [
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "event": "pull_request",
        "events": [
          "pull_request.opened",
          "pull_request.synchronize",
          "pull_request.reopened"
        ]
      },
      "id": "pr-webhook",
      "name": "PR Event Webhook",
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        240,
        400
      ],
      "webhookId": "tta-pr-manager",
      "credentials": {
        "githubApi": {
          "id": "github-api-tta",
          "name": "GitHub API - TTA.dev"
        }
      }
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "resource": "pullRequest",
        "operation": "get",
        "owner": "theinterneti",
        "repository": "TTA.dev",
        "pullRequestNumber": "={{ $json.pull_request.number }}"
      },
      "id": "get-pr-details",
      "name": "Get PR Details",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        460,
        400
      ],
      "credentials": {
        "githubApi": {
          "id": "github-api-tta",
          "name": "GitHub API - TTA.dev"
        }
      }
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "resource": "file",
        "operation": "list",
        "owner": "theinterneti",
        "repository": "TTA.dev",
        "pullRequestNumber": "={{ $json.number }}"
      },
      "id": "get-changed-files-pr",
      "name": "Get Changed Files",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        680,
        400
      ],
      "credentials": {
        "githubApi": {
          "id": "github-api-tta",
          "name": "GitHub API - TTA.dev"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a senior code reviewer for TTA.dev, a production AI toolkit with strict quality standards.\n\n**PR Title:** {{ $node['Get PR Details'].json.title }}\n**PR Description:**\n{{ $node['Get PR Details'].json.body || 'No description provided' }}\n\n**Files Changed:**\n{{ $json.map(f => `- ${f.filename} (+${f.additions}/-${f.deletions})`).join('\\n') }}\n\n**Total Changes:** +{{ $json.reduce((sum, f) => sum + f.additions, 0) }} / -{{ $json.reduce((sum, f) => sum + f.deletions, 0) }}\n\nAnalyze this PR and provide:\n\n1. **Summary** (2-3 sentences): What does this PR do?\n2. **Architecture Impact**: Does it affect core primitives, observability, or package structure?\n3. **Quality Checks**:\n   - Are tests included/updated?\n   - Is documentation updated?\n   - Does it follow TTA.dev patterns?\n4. **Risks**: What could go wrong?\n5. **Recommendations**: Specific actionable feedback\n6. **Approval Status**: APPROVE, REQUEST_CHANGES, or COMMENT\n\nFormat as markdown for GitHub comment.",
        "options": {}
      },
      "id": "ai-review-pr",
      "name": "AI: Review PR",
      "type": "@n8n/n8n-nodes-langchain.lmChatGemini",
      "typeVersion": 1,
      "position": [
        900,
        400
      ],
      "credentials": {
        "googleGeminiApi": {
          "id": "gemini-api",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "review-body",
              "name": "review_body",
              "type": "string",
              "value": "=## \ud83e\udd16 AI Code Review\n\n{{ $json.response }}\n\n---\n\n*Generated by n8n TTA.dev automation*\n*Review time: {{ $now.toISO() }}*"
            },
            {
              "id": "pr-number",
              "name": "pr_number",
              "type": "number",
              "value": "={{ $node['Get PR Details'].json.number }}"
            },
            {
              "id": "needs-tests",
              "name": "needs_tests",
              "type": "boolean",
              "value": "={{ !$node['Get Changed Files'].json.some(f => f.filename.includes('test')) }}"
            },
            {
              "id": "has-primitives-changes",
              "name": "has_primitives_changes",
              "type": "boolean",
              "value": "={{ $node['Get Changed Files'].json.some(f => f.filename.includes('tta-dev-primitives')) }}"
            }
          ]
        }
      },
      "id": "analyze-pr",
      "name": "Analyze PR",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "resource": "review",
        "operation": "create",
        "owner": "theinterneti",
        "repository": "TTA.dev",
        "pullRequestNumber": "={{ $json.pr_number }}",
        "body": "={{ $json.review_body }}",
        "event": "COMMENT"
      },
      "id": "post-review",
      "name": "Post AI Review",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1340,
        400
      ],
      "credentials": {
        "githubApi": {
          "id": "github-api-tta",
          "name": "GitHub API - TTA.dev"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.needs_tests }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-needs-tests",
      "name": "Needs Tests?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1560,
        400
      ]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "resource": "issue",
        "operation": "createComment",
        "owner": "theinterneti",
        "repository": "TTA.dev",
        "issueNumber": "={{ $json.pr_number }}",
        "body": "\u26a0\ufe0f **Missing Tests Warning**\n\nThis PR modifies code but doesn't include test changes.\n\n**TTA.dev requires:**\n- 100% test coverage for all new code\n- Updated tests for modified code\n- Integration tests for primitives\n\nPlease add tests before merging.\n\n**Helpful commands:**\n```bash\n# Run fast tests\n./scripts/test_fast.sh\n\n# Run with coverage\nuv run pytest --cov=packages --cov-report=term-missing\n\n# Run specific package tests\nuv run pytest packages/tta-dev-primitives/tests/ -v\n```\n\nSee: [Testing Guide](https://github.com/theinterneti/TTA.dev/blob/main/docs/development/CodingStandards.md)"
      },
      "id": "warn-missing-tests",
      "name": "Warn: Missing Tests",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1780,
        300
      ],
      "credentials": {
        "githubApi": {
          "id": "github-api-tta",
          "name": "GitHub API - TTA.dev"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.has_primitives_changes }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-primitives-changes",
      "name": "Has Primitives Changes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1780,
        500
      ]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "resource": "label",
        "operation": "add",
        "owner": "theinterneti",
        "repository": "TTA.dev",
        "issueNumber": "={{ $node['Analyze PR'].json.pr_number }}",
        "labels": [
          "primitives",
          "needs-examples",
          "documentation-required"
        ]
      },
      "id": "label-primitives-pr",
      "name": "Label: Primitives PR",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        2000,
        500
      ],
      "credentials": {
        "githubApi": {
          "id": "github-api-tta",
          "name": "GitHub API - TTA.dev"
        }
      }
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "resource": "issue",
        "operation": "createComment",
        "owner": "theinterneti",
        "repository": "TTA.dev",
        "issueNumber": "={{ $node['Analyze PR'].json.pr_number }}",
        "body": "\ud83d\udce6 **Primitives Change Detected**\n\nThis PR modifies TTA.dev primitives. Please ensure:\n\n**Required:**\n- [ ] Examples added/updated in `examples/` directory\n- [ ] Documentation updated in package README\n- [ ] Entry added to `PRIMITIVES_CATALOG.md`\n- [ ] CHANGELOG.md updated\n- [ ] 100% test coverage including edge cases\n\n**Best Practices:**\n- [ ] Primitive follows InstrumentedPrimitive pattern\n- [ ] OpenTelemetry spans properly configured\n- [ ] Type hints complete and accurate\n- [ ] Composes well with other primitives\n\n**See:**\n- [Primitives Catalog](https://github.com/theinterneti/TTA.dev/blob/main/PRIMITIVES_CATALOG.md)\n- [Package README](https://github.com/theinterneti/TTA.dev/blob/main/packages/tta-dev-primitives/README.md)\n- [Phase 3 Guide](https://github.com/theinterneti/TTA.dev/blob/main/PHASE3_EXAMPLES_COMPLETE.md)"
      },
      "id": "comment-primitives-requirements",
      "name": "Comment: Primitives Requirements",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        2220,
        500
      ],
      "credentials": {
        "githubApi": {
          "id": "github-api-tta",
          "name": "GitHub API - TTA.dev"
        }
      }
    }
  ],
  "connections": {
    "PR Event Webhook": {
      "main": [
        [
          {
            "node": "Get PR Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get PR Details": {
      "main": [
        [
          {
            "node": "Get Changed Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Changed Files": {
      "main": [
        [
          {
            "node": "AI: Review PR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Review PR": {
      "main": [
        [
          {
            "node": "Analyze PR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze PR": {
      "main": [
        [
          {
            "node": "Post AI Review",
            "type": "main",
            "index": 0
          },
          {
            "node": "Needs Tests?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has Primitives Changes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Tests?": {
      "main": [
        [
          {
            "node": "Warn: Missing Tests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Primitives Changes?": {
      "main": [
        [
          {
            "node": "Label: Primitives PR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Label: Primitives PR": {
      "main": [
        [
          {
            "node": "Comment: Primitives Requirements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-09T10:00:00.000Z",
  "versionId": "1",
  "active": false
}
